@font-face {
    font-family: 'Century Gothic Bold';
    src: url('./media/Century_gothic_bold.ttf') format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Century Gothic Normal';
    src: url('./media/Century_gothic_regular.ttf') format("truetype"); /* Safari, Android, iOS */
}

.App {
    text-align: center;

}

html {
    background: #f0f2f5;
}

body, #root {
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic Regular', sans-serif;
}

label, input {
    font-family: 'Century Gothic Regular', sans-serif;
}

div#title1 {
    font-size: 43px;
    line-height: 52px;
}

div#title2 {
    font-size: 19px;
    line-height: 23px;
}

div#titleContainer {
    grid-area: title;
    color: white;
    justify-self: center;
}

div#loginFormContainer {
    grid-area: loginForm;
    display: grid;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
    background-color: #356fb7;
    border-radius: 10px;
    justify-self: center;
    justify-items: center;
}

div#loginContainer {
    display: grid;
    height: 100%;
    grid-template-areas: 'title' 'loginForm';
    grid-row-gap: 20%;
    padding: 10px;
    grid-auto-rows: min-content;
    background-image: url("./media/background-login.png");
    text-align: left;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

div#loginTextContainer {
    text-align: center;
}

div#loginPageButtons {
    display: flex;
    justify-content: space-between;
}

div#registerLinkDiv {
    display: flex;
    justify-content: center;
}

.ant-layout {
    height: 100%;
}

.ant-modal-content {
    background-color: #1c509e;
    border-radius: 30px;
}

.ant-input {
    border: 1px solid;
    border-radius: 0px;
    width: 50%;
}

ul.ant-menu.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
    margin-top: 70%;
}

ul.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-vertical {
    margin-top: 30%;
}

.header.ant-layout-header {
    line-height: 50px;
}

.ant-layout-sider-children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
    background-color: #001529;
}

input[type="button"] {
    color: #fff;
    background-color: #1c509e;
    border-color: #1890ff;
    border-radius: 0px;
    border: 0px solid;
    cursor: pointer;
    width: 47%;
}

label {
    color: white;
}

div#mainLayout {
    padding: 20px;
}

.ant-checkbox-wrapper {
    width: 100%;
}

input.ant-input {
    border: 0px solid;
    border-radius: 0px;
}

.ant-select-selection {
    border-radius: 0px;
}

.header {
    display: flex;
}

div#navbarTitle {
    width: 45%;
}

.fontColor {
    color: #17509e;
}

tr {
    color: blue;
    background-color: white;
    height:50px;
}
table, th, td {
    border-spacing: 0px 10px;
}
th {
    color:white;
}
div#mainLayout {
    background-image: url('./media/background-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

div#listProjectsTable {
    padding: 30px;
}
