@font-face {
    font-family: 'Century Gothic Bold';
    src: url('./media/Century_gothic_bold.ttf') format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Century Gothic Normal';
    src: url('./media/Century_gothic_regular.ttf') format("truetype"); /* Safari, Android, iOS */
}

.App {
    text-align: center;
}

html {
    background: #f0f2f5;
}

body, #root {
    width: 100%;
    height: 100%;
    font-family: 'Century Gothic Regular', sans-serif;
}

label, input {
    font-family: 'Century Gothic Regular', sans-serif;
}

div#title1 {
    font-size: 43px;
    line-height: 52px;
}

div#title2 {
    font-size: 19px;
    line-height: 23px;
}

div#titleContainer {
    grid-area: title;
    color: white;
    justify-self: center;
}

div#loginFormContainer {
    grid-area: loginForm;
    display: grid;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 60px;
    background-color: #356fb7;
    border-radius: 10px;
    justify-self: center;
    justify-items: center;
}

div#loginContainer {
    display: grid;
    height: 100%;
    grid-template-areas: 'title' 'loginForm';
    grid-row-gap: 20%;
    padding: 10px;
    grid-auto-rows: min-content;
    background-image: url("./media/background-login.png");
    text-align: left;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

div#loginTextContainer {
    text-align: center;
}

div#loginPageButtons {
    display: flex;
    justify-content: space-between;
}

div#registerLinkDiv {
    display: flex;
    justify-content: center;
}

.ant-layout {
    height: 100%;
}

.ant-modal-content {
    background-color: #1c509e;
    border-radius: 30px;
}

.ant-input {
    border: 1px solid;
    border-radius: 0px;
    width: 50%;
    position: absolute;
    /*overflow-y: hidden;*/
}

#login {
    width: 20%;
    margin-top: 10%;
    margin-left: 38%;
    border: 1px solid;
    border-radius: 4px lightgray;
    border-radius: 10px;
    padding: 20px;
    border-color: lightgray;
}

.ant-layout {
    height: 100%;
}

#components-layout-demo-top-side-2 .logo {
    width: 120px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px 16px 0;
    float: left;
}

ul.ant-menu.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
    margin-top: 70%;
}

ul.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-vertical {
    margin-top: 30%;
}

.header.ant-layout-header {
    line-height: 50px;
}

/*ul.ant-menu.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {*/
/*margin-top: 74%;*/
/*}*/

.ant-layout-sider-children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
    background-color: #001529;
}

input[type="button"] {
    color: #fff;
    background-color: #1c509e;
    border-color: #1890ff;
    border-radius: 0px;
    border: 0px solid;
    cursor: pointer;
    width: 47%;
}

label {
    color: white;
}

div#mainLayout {
    padding: 20px;
}

.ant-checkbox-wrapper {
    width: 100%;
}

input.ant-input {
    border: 0px solid;
    border-radius: 0px;
}

.ant-select-selection {
    border-radius: 0px;
}

.header {
    display: flex;
}

div#navbarTitle {
    width: 45%;
}

.fontColor {
    color: #17509e;
}

div#mainLayout {
    background-image: url('./media/background-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

div#listProjectsTable {
    padding: 30px;
}

button#signin {
    left: 40%;
}

button#register { /*{ where button is css attribute hence no . or #*/
    left: 38%;
}

.ant-checkbox-wrapper { /*this is a classname hence . is used*/
    width: 100%;
}

#components-form-demo-normal-login .login-form { /*this is an id hence # is used*/
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

#homepage {
    background-image: url("./media/background-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 10%;
    height: 100%;
    display: grid;
    padding: 40px;
    position: absolute;
    width: 100%;
}

#heading {
    position: relative;
}

.content {
    background-color: rgba(53, 111, 183, 0.91);
    overflow-y: auto;
}

div#welcomeDiv {
    top: 16%;
    position: absolute;
    left: 92%;
}

th {
    color: white;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 20px;
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 0px;
}

/*css for table data <td> tag for listing projects on homepage*/
.listProjectsTD {
    text-align: center;
    background-color: #ffffffba;
    padding: 20px;
    font-size: 15px;
    color: #17509e;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkslategrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #17509e;
    border: 0px solid;
    color: white;
}

label.ant-radio-button-wrapper {
    border-radius: 0;
    width: 20%;
    margin-right: 2%;
    text-align: center;
}

#defaultQues {
    display: flex;
}

label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background: #17509e;
    color: white;
    border-radius: 0;
    border-color: transparent;
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
    color: #e6f7ff;
}

.ant-form-item-required {
    color: white;
}

textarea#description {
    resize: none;
}

.primaryFontColor {
    color: #17509e;
}

thead.ant-table-thead {
    display: none;
}

.ant-table.ant-table-small.ant-table-scroll-position-left {
    border: 0px;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
    border-color: #17509e;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}